* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202124;
}

header {
    margin-bottom: 100px;
}

.header-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.header-wrapper .header-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: italic;
    color: #FFFFFF;
}

.header-wrapper ul {
    display: flex;
    justify-content: space-between;
}
.header-wrapper ul li {
    list-style: none;
}

.header-wrapper ul li a {
    padding: 0 10px;
    font-size: 17px;
    text-decoration: none;
    border-right: 1px solid #A3A3A3;
    color: #FFFFFF;
}

.header-wrapper ul li:last-child a {
    border-right: none;
}

main {
    margin-bottom: 50px;
}

.main-title-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.main-title-wrapper .main-title {
    text-align: center;
    font-size: 100px;
    color: #FFFFFF;
}

.main-title-wrapper .semi-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.main-section {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #FFFFFF;
}

.main-section .header {
    border-bottom: 1px solid #A1A1A1;
}

.main-section .header .section-header-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.main-section .header .section-header-wrapper .left-section {
    width: 333px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    margin-top: 30px;
    border-bottom: none;
}
.main .left-section {
    flex: 1 1 75%;
}
.main .left-section .writer-datetime-wrapper {
    margin-bottom: 20px;
}
.main .left-section .datetime {
    font-weight: lighter;
}

.main .left-section .title {
    font-size: 30px;
    margin-bottom: 15px;
}
.main .left-section .content {
    font-weight: lighter;
}
.main .left-section .title-content-wrapper {
    margin-bottom: 50px;
}
.comment {
    padding: 20px 0px;
    border-top: 1px solid #A1A1A1;
    font-size: 18px;
}
.comment-writer {
    font-weight: bold;
}
.comment-content {
    display: block;
}
.comment-update-date {
    font-weight: lighter;
    font-size: 12px;
}
.comment-box {
    width: 600px;
    height: 70px;
    display: block;
}

.main .right-section div {
    margin-bottom: 20px;
}
.main .right-section div i {
    margin-right: 10px;
    font-weight: lighter;
}
.heart-button {
    border: none;
    outline: none;
    background-color: #FFFFFF;
}
.main .right-section div .fill {
    font-weight: bold;
}
.main .right-section div span {
    font-weight: lighter;
}
