.main {
    border-bottom: 1px solid #A1A1A1;
}

.main .button-section {
    margin-bottom: 20px;
}

.main-section .postList-header {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #A1A1A1;
}

.main-section .postList-header .blank {
    flex: 1 1 50%;
}

.main-section .postList-header .show-comment-like {
    flex: 1 1 10%;
    display: flex;
    justify-content: space-between;
}

.main-section .postList-header .recent-activity {
    flex: 1 1 20%;
    padding-left: 50px;
}

.main-section .postList {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    margin: 0px 20px;
    border-bottom: 1px solid #A1A1A1;
}

.main-section .postList .post-title-writer {
    flex: 1 1 50%;
}

.main-section .postList .post-title-writer .post-title {
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.main-section .postList .post-title-writer .post-writer {
    display: block;
    font-size: 12px;
    font-weight: lighter;
}

.main-section .postList .post-show-comment-like {
    flex: 1 1 10%;
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
}

.main-section .postList .post-show-comment-like span {
    font-weight: lighter;
    font-size: 12px;
}

.main-section .postList .post-recent-activity {
    flex: 1 1 20%;
    padding-left: 55px;
    font-weight: lighter;
}

.main-section .pagination {
    text-align: center;
    margin-top: 20px;
}

.main-section .pagination a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    color: #687698;
}