* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #273c75;
}

header {
    margin-bottom: 100px;
}

.header-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.header-wrapper .header-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: italic;
    color: #FFFFFF;
}

main {
    margin-bottom: 50px;
}

.main-title-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.main-title-wrapper .main-title {
    text-align: center;
    font-size: 100px;
    color: #FFFFFF;
}

.main-title-wrapper .semi-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.main-section {
    width: 500px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #FFFFFF;
}

.main-section .header .section-header-wrapper {
    text-align: center;
}

.main-section .header .section-header-wrapper p {
    font-size: 35px;
    letter-spacing: 4px;
}

.main-section form .title-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.main-section form .title-wrapper .title {
    text-align: left;
}

.main-section form .title-wrapper input {
    width: 100%;
    height: 30px;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    padding: 5px;
}

.main-section form .content-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.main-section form .content-wrapper .content {
    text-align: left;
}

.main-section form .content-wrapper textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    padding: 5px;
}

.main-section .section-header {
    border-bottom: none;
}

.main-section .button-wrapper .post {
    font-size: 15px;
    color: #687698;
    padding: 10px 14px;
    background-color: #FFFFFF;
    border: 1px solid #687698;
}

.main-section .button-wrapper .move-postlist {
    margin-left: 10px;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px 14px;
    background-color: #687698;
    border: 1px solid #687698;
    text-decoration: none;
}
