* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202124;
    color: #FFFFFF;
}

header {
    margin-bottom: 100px;
}

.header-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.header-wrapper .header-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: italic;
}

.register-section {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
    border-radius: 4px;
}

.register-section input {
    display: block;
    width: 350px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #687698;
    border-radius: 4px;
}

.register-section .register {
    color: #FFFFFF;
    width: 350px;
    height: 40px;
    font-size: 20px;
    padding: 5px 10px;
    background-color: #687698;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin-bottom: 40px;
}

.register-section .move-register {
    text-align: center;
}

.register-section .move-register a {
    text-decoration: none;
    color: #687698;
}