* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #273c75;
    color: #FFFFFF;
}
header {
    margin-bottom: 100px;
}

.header-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.header-wrapper .header-title {
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    font-style: italic;
}
.header-wrapper ul {
    display: flex;
    justify-content: space-between;
}
.header-wrapper ul li {
    list-style: none;
}

.header-wrapper ul li a {
    padding: 0 10px;
    font-size: 17px;
    text-decoration: none;
    border-right: 1px solid #A3A3A3;
    color: #FFFFFF;
}

.header-wrapper ul li:last-child a {
    border-right: none;
}

main {
    margin-bottom: 50px;
}

.main-title-wrapper {
    width: 1200px;
    margin: 0 auto;
}

.main-title-wrapper .main-title {
    text-align: center;
    font-size: 100px;
}

.main-title-wrapper .semi-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.main-section {
    width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    padding-bottom: 30px;
    border: 1px solid #A3A3A3;
    background-color: #FFFFFF;
}

.main-section .header .section-header-wrapper {
    margin-bottom: 20px;
}

.main-section .header .section-header-wrapper .right-section .search {
    width: 200px;
    font-size: 15px;
    padding: 10px 14px;
}

.main-section .header .section-header-wrapper .right-section button {
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px 14px;
    background-color: #687698;
    border: 1px solid #687698;
}

.button-section {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px;
}

.button-section .create-post-button {
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px 14px;
    background-color: #687698;
    border: 1px solid #687698;
    text-decoration: none;
    border-radius: 4px;
}

.main .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.main-section .main .categories li {
    padding: 5px;
    margin: 5px;
    list-style: none;
    width: 40%;
    border: 1px solid #687698;
}

.main .categories .category-title {
    display: block;
    font-size: 22px;
    text-decoration: none;
    color: #000000;
    text-align: center;
}

.main .categories li .category:hover {
    transition-property: width, height, font-size;
    transition-duration: 1s;
    width: 290px;
    height: 230px;
    font-size: 20px;
}

.main .categories .category-content {
    font-weight: lighter;
    text-align: center;
}

.error {
    color: #FF0000;
}