<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0fc2b155a7.js" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <div class="header-wrapper">
      <div class="header-title">Communicate</div>
    </div>
  </header>

  <main>
    <div class="main-title-wrapper">
      <p class="main-title">Online Community</p>
      <p class="semi-title">자신의 이야기를 자유롭게 작성해보세요</p>
    </div>

    <section class="main-section">
      <div class="header">
        <div class="section-header-wrapper">
          <ul class="left-section">
            <li class="section-header-menu">Categories</li>
            <li class="section-header-menu">
              <a th:href="'/postList'">All Posts</a>
            </li>
            <li class="section-header-menu">My Posts</li>
          </ul>
          <div class="right-section">
            <input class="search" type="text" placeholder="Search" />
            <a class="account-button" th:href="'/login'" />Login / Sign up</a>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="button-section">
          <a class="create-post-button" th:href="'/post'">Create new Post</a>
        </div>
        <ul class="categories">
          <li class="category">
            <div class="left-section">
              <img src="/assets/img/test.png" alt="이미지 자리">
            </div>
            <div class="right-section">
              <div class="category-description">
                <p class="category-title">category title</p>
                <p class="category-content">category content</p>
              </div>
              <div class="category-pin">
                <i class="fa-solid fa-thumbtack pin"></i>
              </div>
            </div>
          </li>
          <li class="category">
            <div class="left-section">
              <img src="/assets/img/test.png" alt="이미지 자리">
            </div>
            <div class="right-section">
              <div class="category-description">
                <p class="category-title">category title</p>
                <p class="category-content">category content</p>
              </div>
              <div class="category-pin">
                <i class="fa-solid fa-thumbtack pin"></i>
              </div>
            </div>
          </li>
          <li class="category">
            <div class="left-section">
              <img src="/assets/img/test.png" alt="이미지 자리">
            </div>
            <div class="right-section">
              <div class="category-description">
                <p class="category-title">category title</p>
                <p class="category-content">category content</p>
              </div>
              <div class="category-pin">
                <i class="fa-solid fa-thumbtack pin"></i>
              </div>
            </div>
          </li>
          <li class="category">
            <div class="left-section">
              <img src="/assets/img/test.png" alt="이미지 자리">
            </div>
            <div class="right-section">
              <div class="category-description">
                <p class="category-title">category title</p>
                <p class="category-content">category content</p>
              </div>
              <div class="category-pin">
                <i class="fa-solid fa-thumbtack pin"></i>
              </div>
            </div>
          </li>
          <li class="category">
            <div class="left-section">
              <img src="/assets/img/test.png" alt="이미지 자리">
            </div>
            <div class="right-section">
              <div class="category-description">
                <p class="category-title">category title</p>
                <p class="category-content">category content</p>
              </div>
              <div class="category-pin">
                <i class="fa-solid fa-thumbtack pin"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="section-new-post"></div>
    </section>
  </main>

</body>
</html>