<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/login.css">
  <script src="https://kit.fontawesome.com/0fc2b155a7.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
  <div class="header-wrapper">
    <div class="header-title">Hong Communicate</div>
  </div>
</header>

<main>
  <section class="login-section">
    <form action="/login" th:object="${memberLoginForm}" method="post">
      <input class="id-box" type="email" th:field="*{memberId}" placeholder="아이디">
      <p class="error" th:errors="*{memberId}"></p>
      <input class="password-box" type="password" th:field="*{memberPw}" placeholder="패스워드">
      <p class="error" th:errors="*{memberPw}"></p>
      <div th:if="${#fields.hasGlobalErrors()}">
        <div class="error" th:each="error : ${#fields.globalErrors()}">
          <span th:text="${error}"></span>
        </div>
      </div>
      <button class="login">로그인</button>
      <div class="move-register">
        <a th:href="'/register'">회원이 아니신가요?</a>
      </div>
    </form>
  </section>

</main>

</body>
</html>