<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/myPage.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0fc2b155a7.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header-wrapper">
        <div class="header-title" style="font-family: 'Dancing Script', cursive;">Community</div>
        <ul>
            <li>
                <a th:href="'/logout'">로그아웃</a>
            </li>
            <li>
                <a th:href="'/info'">마이페이지</a>
            </li>
            <li>
                <a th:href="'/'">카테고리</a>
            </li>
            <li>
                <a th:href="'/postList?page=1&searchKeyword='">모든 글</a>
            </li>
            <li>
                <a th:href="'/myPost?page=1&searchKeyword='">내가 쓴 글</a>
            </li>
        </ul>
    </div>
</header>
    <p>Info</p>
    <div class="info-wrapper">
        <div class="email-wrapper">
            <span class="info-title">이메일</span>
            <span class="info-context" th:text="${loginMember.getMemberEmail}">email</span>
        </div>
        <div class="nickname-wrapper">
            <span class="info-title">닉네임</span>
            <span class="info-context" th:text="${loginMember.memberName}">nickname</span>
        </div>
    </div>
</body>
</html>