<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/postList.css">
    <script src="https://kit.fontawesome.com/0fc2b155a7.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header-wrapper">
        <div class="header-title">Communicate</div>
        <ul>
            <li>
                <a th:if="${sessionId == false}" th:href="'/login'">로그인</a>
                <a th:if="${sessionId == true}" th:href="'/logout'">로그아웃</a>
            </li>
            <li>
                <a th:if="${sessionId == false}" th:href="'/register'">회원가입</a>
                <a th:if="${sessionId == true}" th:href="'/info'">마이페이지</a>
            </li>
            <li>
                <a th:href="'/'">카테고리</a>
            </li>
            <li>
                <a th:href="'/postList?page=1&searchKeyword='">모든 글</a>
            </li>
            <li>
                <a th:href="'/myPost?page=1&searchKeyword='">내가 쓴 글</a>
            </li>
        </ul>
    </div>
</header>

<main>
    <div class="main-title-wrapper">
        <p class="main-title">Online Community</p>
        <p class="semi-title">자신의 이야기를 자유롭게 작성해보세요</p>
    </div>

    <section class="main-section">
        <div class="header">
            <div class="section-header-wrapper">
                  <div class="right-section">
                      <div class="button-section">
                          <a class="create-post-button" th:href="'/post'">
                              <i class="fa-solid fa-pen-nib" style="margin-right: 10px;"></i>글 쓰기
                          </a>
                      </div>
                      <form th:action="'/postList'" method="get">
                          <input class="search" type="text" placeholder="Search" name="searchKeyword" />
                          <input type="hidden" name="page" th:value="1">
                          <button type="submit">검색</button>
                      </form>
                  </div>
            </div>
        </div>
        <div class="main">
        </div>
        <div class="postList-header">
            <div class="header no">번호</div>
            <div class="header title">제목</div>
            <div class="header writer">작성자</div>
            <div class="header regDate">작성</div>
        </div>

        <div class="postList" th:each="post, postIndex : ${postList}">
            <span class="no" th:text="(${curPage}-1) * 5 + ${postIndex.count}">1</span>
            <a class="title" th:href="'/post/' + ${post.postSeq}" th:text="${post.postName}">title</a>
            <span class="writer" th:text="${post.postWriter}">writer</span>
            <span class="regDate" th:text="${post.postUpdate}">2023-06-02</span>
        </div>

        <div class="pagination">
            <a th:if="${prevPage == true}" th:href="'/postList?page='+(${curPage}-1) +'&searchKeyword=' + ${searchKeyword}" style="color:#A1A1A1; text-decoration: none;">&langle;</a>
            <span th:if="${curPage+4 <= endPage}" th:each="pageNumber : ${#numbers.sequence(curPage, curPage+4)}">
            <a th:if="${pageNumber} == ${curPage} and ${pageNumber} > 0" style="color: #FF0000; font-weight: bold;" th:text="${pageNumber}" th:href="'/postList?page='+${pageNumber} + '&earchKeyword=' + ${searchKeyword}"></a>
            <a th:if="${pageNumber} != ${curPage} and ${pageNumber} > 0" th:text="${pageNumber}" th:href="'/postList?page='+${pageNumber} + '&searchKeyword=' + ${searchKeyword}"></a>
            </span>
            <span th:if="${curPage+4 > endPage}" th:each="pageNumber : ${#numbers.sequence(curPage - (endPage - (endPage - curPage) - (endPage - 4)), endPage)}">
            <a th:if="${pageNumber} == ${curPage} and ${pageNumber} > 0" style="color: #FF0000; font-weight: bold;" th:text="${pageNumber}" th:href="'/postList?page='+${pageNumber} + '&searchKeyword=' + ${searchKeyword}"></a>
            <a th:if="${pageNumber} != ${curPage} and ${pageNumber} > 0" th:text="${pageNumber}" th:href="'/postList?page='+${pageNumber} + '&searchKeyword=' + ${searchKeyword}"></a>
            </span>
            <a th:if="${nextPage == true}" th:href="'/postList?page='+(${curPage}+1) + '&searchKeyword=' + ${searchKeyword}" style="color: #A1A1A1; text-decoration: none;">&rangle;</a>
        </div>
    </section>
</main>

</body>
</html>