<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/css/postOne.css", rel="stylesheet">
  <script src="https://kit.fontawesome.com/0fc2b155a7.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
  <div class="header-wrapper">
    <div class="header-title">Communicate</div>
    <ul>
      <li>
        <a th:href="'/logout'">로그아웃</a>
      </li>
      <li>
        <a th:href="'/info'">마이페이지</a>
      </li>
      <li>
        <a th:href="'/'">카테고리</a>
      </li>
      <li>
        <a th:href="'/postList?page=1&searchKeyword='">모든 글</a>
      </li>
      <li>
        <a th:href="'/myPost?page=1&searchKeyword='">내가 쓴 글</a>
      </li>
    </ul>
  </div>
</header>

<main>
  <div class="main-title-wrapper">
    <p class="main-title">Online Community</p>
    <p class="semi-title">자신의 이야기를 자유롭게 작성해보세요</p>
  </div>

  <section class="main-section">
    <div class="main">
      <div class="left-section" th:object="${post}">
        <div class="writer-datetime-wrapper">
          <div>
            <span class="writer" th:text="*{postWriter}">writer</span>
            <span class="datetime" th:text="*{postUpdate}">2021-09-17 16:42:01</span>
          </div>
        </div>
        <div class="title-content-wrapper" >
          <p class="title" th:text="*{postName}">Benefits and Allowances</p>
          <span class="content" th:text="*{postContent}">Post about your forum topic here. Engage your audience with relevant and interesting posts that will keep them coming back for more. Add even more volume to your post by uploading media and engaging your readers with both images and videos. Simply click “Create New Post” to start connecting with your audience now.</span>
        </div>
          <div>
            <form th:if="${isLike} == false" th:action="@{'/likes/' + ${postSeq}}" th:method="post" style="display: inline;">
              <button class="heart-button"><i class="fa-solid fa-heart"></i></button>
            </form>
            <form th:if="${isLike} == true" th:action="@{'/likes/' + ${postSeq}}" th:method="post" style="display: inline;">
              <button class="heart-button"><i class="fa-solid fa-heart fa-beat fill" style="color: #f00505;"></i></button>
            </form>
            <span>[[${likeCnt}]]</span>
          </div>
          <div class="comment">Comments([[${commentCnt}]])</div>
          <div th:each="comment : ${commentList}" style="margin-bottom: 15px;">
            <p class="comment-writer">[[${comment.commentWriter}]]</p>
            <span class="comment-content">[[${comment.commentContent}]]</span>
            <span class="comment-update-date">[[${comment.commentUpdate}]]</span>
          </div>
        <form th:action="@{'/comment'}" th:method="post">
          <input type="hidden" th:field="*{postSeq}">
          <textarea class="comment-box" th:field="${comment.commentContent}"></textarea>
          <div th:if="${errors}" style="color: #FF0000;">[[${errors}]]</div>
          <button>등록</button>
        </form>
      </div>
    </div>
  </section>
</main>


</body>
</html>