<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0fc2b155a7.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div class="header-wrapper">
        <div class="header-title">Hong Communicate</div>
    </div>
</header>

<main>
    <section class="register-section">
        <form action="" th:object="${memberRegisterForm}" method="post">
            <input th:errorclass="field-error" class="id-box" type="email" th:field="*{memberId}" placeholder="아이디">
            <p class="error" th:errors="*{memberId}"></p>
            <input th:errorclass="field-error" class="password-box" type="password" th:field="*{memberPw}" placeholder="패스워드">
            <p class="error" th:errors="*{memberPw}"></p>
            <input th:errorclass="field-error" class="password-box" type="password" th:field="*{checkPw}" placeholder="패스워드 확인">
            <p class="error" th:errors="*{checkPw}"></p>
            <input th:errorclass="field-error" class="name-box" type="text" th:field="*{memberName}" placeholder="닉네임">
            <p class="error" th:errors="*{memberName}"></p>
            <button class="register">회원가입</button>
<!--            <div class="move-register">-->
<!--                <a th:href="'/login'">이미 계정이 있으신가요?</a>-->
<!--            </div>-->
        </form>
    </section>

</main>

</body>
</html>