<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/postList.css">
  <script src="https://kit.fontawesome.com/0fc2b155a7.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
  <div class="header-wrapper">
    <div class="header-title">Communicate</div>
  </div>
</header>

<main>
  <div class="main-title-wrapper">
    <p class="main-title">Online Community</p>
    <p class="semi-title">자신의 이야기를 자유롭게 작성해보세요</p>
  </div>

  <section class="main-section">
    <div class="header">
      <div class="section-header-wrapper">
        <ul class="left-section">
          <li class="section-header-menu">Categories</li>
          <li class="section-header-menu">
            <a th:href="'/postList'">All Posts</a>
          </li>
          <li class="section-header-menu">My Posts</li>
        </ul>
        <div class="right-section">
          <input class="search" type="text" placeholder="Search" />
          <a class="account-button" th:href="'/login'" />Login / Sign up</a>
        </div>
      </div>
    </div>
    <div class="main">
      <div class="button-section">
        <a class="create-post-button" th:href="'/post'">Create new Post</a>
      </div>
    </div>
    <div class="postList-header">
      <div class="blank"></div>
      <div class="show-comment-like">
        <i class="fa-solid fa-eye"></i>
        <i class="fa-solid fa-comment"></i>
        <i class="fa-solid fa-heart"></i>
      </div>
      <div class="recent-activity">
        <span>recent activity</span>
      </div>
    </div>

    <div class="postList" th:each="post : ${postList}">
      <div class="post-title-writer">
        <a th:href="'/post/' + ${post.postSeq}" class="post-title" th:text="${post.postName}">title</a>
        <span class="post-writer" th:text="${post.postWriter}">writer</span>
      </div>
      <div class="post-show-comment-like">
        <span class="show">[[${post.postView}]]</span>
        <span class="comment">[[${post.postComment}]]</span>
        <span class="like">[[${post.postLike}]]</span>
      </div>
      <div class="post-recent-activity">
        <span th:text="${post.postUpdate}">2023-06-02</span>
      </div>
    </div>
<!--    <div class="pagination">-->
<!--      <a th:if="${prevPage == true}" th:href="'/postList/'+(${curPage}-1)" style="color:#A1A1A1; text-decoration: none;">&langle;</a>-->
<!--      <span th:if="${curPage+4 <= endPage}" th:each="pageNumber : ${#numbers.sequence(curPage, curPage+4)}">-->
<!--            <a th:text="${pageNumber}" th:href="'/postList/'+${pageNumber}"></a>-->
<!--            </span>-->
<!--      <span th:if="${curPage+4 > endPage}" th:each="pageNumber : ${#numbers.sequence(curPage - (endPage - (endPage - curPage) - (endPage - 4)), endPage)}">-->
<!--            <a th:text="${pageNumber}" th:href="'/postList/'+${pageNumber}"></a>-->
<!--            </span>-->
<!--      <a th:if="${nextPage == true}" th:href="'/postList/'+(${curPage}+1)" style="color: #A1A1A1; text-decoration: none;">&rangle;</a>-->
<!--    </div>-->
  </section>
</main>

</body>
</html>